In [2]:
import pandas as pd
import numpy as np

staff_df=pd.DataFrame([
    {'Name':'Kelly', 'Role':'Director of HR'},
    {'Name':'Sally', 'Role':'Course liaison'},
    {'Name':'James', 'Role':'Gardner'}
  ])
staff_df=staff_df.set_index('Name')
staff_df

                 Role
Name
Kelly  Director of HR
Sally  Course liaison
James         Gardner

In [4]:

student_df=pd.DataFrame([
    {'Name':'James', 'School':'Business'},
    {'Name':'Mike', 'School':'Law'},
    {'Name':'Sally', 'School':'Engineering'}
  ])
student_df=student_df.set_index('Name')
student_df

            School
Name
James     Business
Mike           Law
Sally  Engineering

In [5]:
# Inner Join
pd.merge(staff_df,student_df, how ='inner',left_index=True, right_index=True)

                 Role       School
Name
Sally  Course liaison  Engineering
James         Gardner     Business

In [9]:

print('\n\nFull Outer Join')
pd.merge(staff_df,student_df, how ='outer',left_index=True, right_index=True)

Full Outer Join

                 Role       School
Name
James         Gardner     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally  Course liaison  Engineering

In [10]:

print('\n\nLeft Outer Join')
pd.merge(staff_df,student_df, how ='left',left_index=True, right_index=True)

Left Outer Join

                 Role       School
Name
Kelly  Director of HR          NaN
Sally  Course liaison  Engineering
James         Gardner     Business

In [12]:

print('\n\nRight Outer Join')
pd.merge(staff_df,student_df, how ='right',left_index=True, right_index=True)

Right Outer Join

                 Role       School
Name
James         Gardner     Business
Mike              NaN          Law
Sally  Course liaison  Engineering

In [13]:

# We can also do it without the use of index usnig yhe left_on and right_on set to True
print("\n\nWithout indicies  ")
staff_df=staff_df.reset_index()
student_df=student_df.reset_index()
pd.merge(staff_df,student_df,how='inner',left_on='Name',right_on='Name')

#Note:: if the indices overlap like names. Or create confusion then we can pass a list in left_on or right_on

Without indicies

    Name            Role       School
0  Sally  Course liaison  Engineering
1  James         Gardner     Business